<footer class="footer">
  <ul class="social-icon">
    <li class="social-icon__item">
      <a class="social-icon__link" href="#">
        <i class="fab fa-facebook"></i>
      </a>
    </li>
    <li class="social-icon__item">
      <a class="social-icon__link" href="#">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li class="social-icon__item">
      <a class="social-icon__link" href="#">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    <li class="social-icon__item">
      <a class="social-icon__link" href="#">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
  </ul>
  <ul class="menu">
    <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Demande de Credit</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Become Client</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Log In</a></li>
  </ul>
  <p>&copy; 2024 E-BANK | All Rights Reserved</p>

  <!-- Font Awesome Scripts -->
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    rel="stylesheet"
  />
</footer>
