<nav class="navbar">
  <div class="navbar-container">
    <!-- Menu Hamburger (Mobile) -->
    <div class="menu-toggle">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

    <!-- Logo Section -->
    <div class="logo">
      <img alt="Your Company" src="assets/img/ebankk.png" class="logo-img" />
    </div>

    <!-- "Become a Client" and "Login" Buttons -->
    <div class="buttons">
      <button class="btn subscribe-btn"(click)="backToHome()"  >HOME</button>
      <button class="btn client-btn" (click)="navigateToCreditRequest()">DEMENDE DE CREDIT</button>
      <button class="btn subscribe-btn">I BECOME A CLIENT</button>
      <button class="btn login-btn">I LOG IN</button>
    </div>
  </div>
</nav>
