<div class="card-container">
  <div class="card-image">
    <img src="assets/img/bank1.png" alt="E-BANK Mobile App" />
  </div>
  <div class="card-content">
    <h2>DISCOVER E-BANK</h2>
    <p>The mobile application to manage your finances wherever you are!</p>
    <p>
      Want to stay on top of your finances? E-BANK offers you an innovative
      solution: "E-BANK App," a mobile banking service tailored to your needs.
    </p>
    <button class="learn-more-button button-57" role="button">
      <span class="text">LEARN MORE</span>

    </button>

  </div>
</div>

<div class="client-space-card">
  <div class="icon-container">
    <img src="assets/img/profile-icon2.png" alt="User Icon" class="icon-image" />
    <div class="icon-line"></div>
  </div>
  <h2>ACCESS NOW TO YOUR CLIENT SPACE</h2>
  <div class="buttons">
    <button class="button button-57" role="button">
      <span class="text">I BECOME A CLIENT</span>

    </button>
    <button class="button button-57" role="button">
      <span class="text">LOG IN</span>

    </button>

  </div>
</div>
